{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <My first company blog & store</title>
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body>
    <header class="page-header">
        <div class="container">
            <div class="page-header-wrapper">
                <a class="page-logo" href="./index.html">
                    <img src="{% static 'blog/images/logo.jpg' %}" alt="logo" style="width: 90px; height: 90px">
                </a>

                <h1> My first company <br> <center >blog & store</center> </h1>

                <nav>
                    <a href="#">Blog</a>
                    <a href="#">Sklep</a>
                    <a href="#">Kontakt</a>
                    <a href="#">Zaloguj się</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="main-section">
            <div class="container">
                <section><a href="{% url 'go_to_youtube' %}">Link</a></section>
                <img src="{% static 'blog/images/background_photo.jpg' %}" alt="background_photo" style="width: 100%">
            </div>
        </section>

        <section>
            <div class="container">
                <h2 class="section-heading">O blogu</h2>
                <p>Znajdziesz tu materiały dotyczące każdego etapu prowadzenia małego biznesu. Od jego planowania przez szukanie klientów aż po finanse i formalności.</p>
            </div>
        </section>

        <section>
            <div id="main_content">
                {% block main_content %}
                {% endblock %}
            </div>
        </section>

        <section>
            <div class="container">
                <h2 class="section-heading">Zapisz się do newslettera</h2>
            </div>
        </section>

        <section>
            <div class="container">
                <h2 class="section-heading">Formularz kontaktowy</h2>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">

        </div>
    </footer>
</body>
</html>